body {
  font-family: Arial, sans-serif;
  padding: 30px;
}

nav {
  margin-bottom: 20px;
}

a {
  margin-right: 15px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#app {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}